<page-header title="service.title"></page-header>
<version-switcher class="invisible-lg side-nav--meta--top"></version-switcher>
<article class="content">
  <div ng-if="::docs.overviewFileUrl">
    <h3 class="sub-heading toggle" ng-click="service.showGettingStarted = !service.showGettingStarted">
      <div class="toggler">
        <span ng-if="!service.showGettingStarted">▹</span>
        <span ng-if="service.showGettingStarted">▿</span>
      </div>
      <span>
        Getting Started
      </span>
    </h3>
    <article ng-if="::docs.overviewFileUrl"
      ng-show="service.showGettingStarted"
      ng-include="docs.overviewFileUrl"></article>
    <hr />
  </div>
  <article ng-if="::((!service.overview && service.description) || service.resources.length)" class="description">
    <h3>{{::service.name}} Overview</h3>
    <div ng-if="service.description" bind-html-compile="service.description"></div>
    <section ng-if="service.resources.length">
      <h4>More Information</h4>
      <ul class="resource-links">
        <li ng-repeat="resource in service.resources">
          <a ng-href="{{resource.link}}">{{resource.title}}</a>
        </li>
      </ul>
    </section>
    <section ng-if="service.examples.length">
      <h4>Example</h4>
      <div ng-repeat="example in service.examples">
        <div ng-if="example.caption" bind-html-compile="example.caption"></div>
        <div ng-if="example.code" class="code-block">
          <pre><code class="hljs {{::markdown}}" bind-html-compile="example.code"></code></pre>
        </div>
      </div>
    </section>
  </article>
  <article ng-repeat="method in service.methods">
    <div ng-if="$first" class="notice">
      Available methods:
      <span ng-repeat="method in service.methods">
        <a ui-sref="docs.service({ method: method.id })">{{method.name}}</a>{{$last ? '' : ', '}}
      </span>
    </div>
    <h3 id="{{::method.id}}" class="method-heading">
      <a class="permalink" ui-sref="docs.service({ method: method.id })">
        <span>{{::method.typeSymbol}}</span>
        {{::method.name}}
      </a>
    </h3>
    <div
      ng-if="::(method.isConstructor && service.overview)"
      bind-html-compile="service.overview"></div>
    <div bind-html-compile="method.description"></div>
    <section ng-if="method.params.length">
      <h4>Parameters</h4>
      <table class="table">
        <tbody>
          <tr ng-repeat="param in method.params" ng-class="{ 'param-optional': param.optional, 'param-nullable': param.nullable }">
            <th scope="row" class="param">
              <span ng-if="param.parent" class="param-parent">
                <div>{{::param.parent}}</div>
                ↳
              </span>
              {{::param.name}}
            </th>
            <td class="param-types" bind-html-compile="param.types" />
            <td class="param-description" bind-html-compile="param.description" />
          </tr>
        </tbody>
      </table>
    </section>
    <section ng-if="method.returns.length">
      <h4>Returns</h4>
      <p bind-html-compile="method.returns[0]"></p>
    </section>
    <section ng-if="method.examples.length">
      <h4>Example</h4>
      <div ng-repeat="example in method.examples">
        <div ng-if="example.caption" bind-html-compile="example.caption"></div>
        <div ng-if="example.code" class="code-block">
          <pre><code class="hljs {{::markdown}}" bind-html-compile="example.code"></code></pre>
        </div>
      </div>
    </section>
    <section>
      <h4>More Information</h4>
      <ul class="resource-links">
        <li>
          <a ng-href="https://github.com/GoogleCloudPlatform/{{moduleName}}/blob/{{docs.tagName}}/{{method.source}}">Source Code</a>
        </li>
        <li ng-repeat="resource in method.resources">
          <a ng-href="{{resource.link}}">{{resource.title}}</a>
        </li>
      </ul>
    </section>
  </article>
</article>
