<dropdown selected="friendlyLang" class="language-switcher">
  <li ng-if="docs.guides.length" class="invisible-lg">
    <h4 class="list-item--heading">Getting Started</h4>
  </li>
  <li ng-repeat="page in docs.guides" class="invisible-lg">
    <a side-nav-link="/guides/{{page.id}}">{{page.title}}</a>
  </li>
  <li ng-if="docs.services.length" class="invisible-lg">
    <h4 class="list-item--heading">API</h4>
  </li>
  <li ng-repeat="service in docs.services" class="menu--extra-links-item invisible-lg">
    <a side-nav-link="/{{service.type}}">{{service.title || service.type}}</a>
    <ul class="sub-sections" ng-if="service.nav">
      <li ng-repeat="page in service.nav">
        <a side-nav-link="/{{page.type}}">{{page.title || page.type}}</a>
      </li>
    </ul>
  </li>
  <li class="invisible-lg">
    <h4 class="list-item--heading">Modules</h4>
  </li>
  <li class="invisible-lg" ng-repeat="module in modules">
    <a
      ui-sref="docs.service({ module: module.id, version: module.versions[0], serviceId: module.defaultService })"
      ng-attr-title="{{::module.name}}">
        {{::module.name}}
    </a>
  </li>
  <li class="invisible-lg">
    <h4 class="list-item--heading">External Resources</h4>
  </li>
  <li class="invisible-lg">
    <a ng-href="https://github.com/GoogleCloudPlatform/{{::moduleName}}" title="google-cloud on Github" class="skip-external-link">
      <img src="assets/images/icon-link-github.svg" alt="GitHub icon" class="menu-icon" />
      GitHub
    </a>
  </li>
  <li class="invisible-lg">
    <a ng-href="https://github.com/GoogleCloudPlatform/{{::moduleName}}/issues" title="google-cloud issues on Github" class="skip-external-link">
      <img src="assets/images/icon-link-github.svg" alt="GitHub icon" class="menu-icon" />
      Issues
    </a>
  </li>
  <li class="invisible-lg">
    <a ng-href="http://stackoverflow.com/questions/tagged/{{::moduleName}}" title="google-cloud on StackOverflow" class="skip-external-link">
      <img src="assets/images/icon-link-stackoverflow.svg" alt="StackOverflow icon" class="menu-icon" />
      StackOverflow
    </a>
  </li>
  <li class="invisible-lg">
    <a ng-href="{{::package.href}}" ng-attr-title="Google Cloud on {{::package.title}}" class="skip-external-link">
      <img src="assets/images/icon-link-package-manager.svg" ng-attr-alt="{{::package.title}} icon" class="menu-icon" />
      {{::package.title}}
    </a>
  </li>
  <li class="invisible-lg">
    <h4 class="list-item--heading">Google Cloud Platform Libraries</h4>
  </li>
  <li ng-repeat="lang in langs">
    <a
      ng-href="https://googlecloudplatform.github.io/{{::lang.repo}}"
      ng-attr-title="{{::lang.repo}}"
      class="skip-external-link">
      <img
        ng-src="assets/images/icon-lang-{{::lang.key}}.svg"
        ng-attr-alt="google-cloud-{{::lang.key}}"
        class="menu-icon">
      {{::lang.friendly}}
    </a>
  </li>
</dropdown>
