<div class="side-nav--meta">
  <div class="row row--sm">
    <div class="col">
      <small><em>Browsing Version</em></small>
      &nbsp;
      <select
        ng-model="docs.selectedVersion"
        ng-options="version for version in docs.versions"
        ng-change="docs.loadVersion(docs.selectedVersion)"
      ></select>
<!--       <div ng-if="docs.selectedVersion === 'master' && docs.lastBuiltDate">
        <small>
          <em>Docs last built {{docs.lastBuiltDate | date : longDate}}.</em>
        </small>
      </div> -->
      <div ng-if="docs.selectedVersion !== 'master'">
        <small>
          <em>
            <a
              ng-href="https://github.com/GoogleCloudPlatform/{{moduleName}}/releases/tag/{{docs.tagName}}"
              target="_blank">Release notes</a>
          </em>
        </small>
      </div>
    </div>
  </div>
</div>
